/* YO não irei la notar los CSS das antique */

body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: #ffffff;
  background-color: black;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 100%;
  box-sizing: border-box;
}

header {
  padding: 50px 0; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

footer {
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: auto; 
}

main {
  flex-grow: 1;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(3rem, 8vw, 124px);
  margin: 0;
  background: linear-gradient(180deg, #d40732, #94007e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
}


.clickers {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 10%;
}

.ckr-login, .ckr-registro {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

  .ckr-login {
    background-color: #d40732;
    color: #1aff1a;

}

  .ckr-registro {
    background-color: #94007e;
    color: #1aff1a;

}

.ckr-login:hover, .ckr-registro:hover {
  transform: translateY(-12px);
}

.ckr-login:hover{
  background-color: #94007e;
}

.ckr-registro:hover{
  background-color: #d40732;
}


.ckr-saber {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 21px; 
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 1px;
  
  color: rgba(26, 255, 26); 
  background-color: rgb(212, 7, 50);
  
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ckr-saber:hover {
  color: #1aff1a; 
  background-color: rgba(148, 0, 126);
}


