body {
    background-color: black;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 100px;
    background: linear-gradient(180deg, #d40732, #94007e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative; 
    width: fit-content;  
    margin-left: auto;   
    margin-right: auto;
}



input {
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    display: block;      
    margin: 10px auto;    
    width: 350px; 
    box-sizing: border-box; 
    font-size: 18px; 
    transition: 0.3s;
    background: linear-gradient(180deg, #d40732, #94007e);
    color: #1aff1a;
}

input:focus {
    border-color: #d40732;
    outline: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.CunnyR, .CunnyS {
    font-size: 18px; 
    margin-bottom: 15px;
}

main {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

button.ckr-mandar, button.ckr-voltar {
    width: 167px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    text-transform: uppercase;
    margin-top: 60px;
}

button.ckr-mandar {
    background-color: #d40732;
    color: #1aff1a;
}

button.ckr-mandar:hover {
    background-color: #94007e;
    transform: translateY(-8px);
}

button.ckr-voltar {
    background-color: #94007e;
    color: #1aff1a;
}

button.ckr-voltar:hover {
    background-color: #d40732;
    transform: translateY(-8px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: scale(2); 
    transform-origin: top center;
}