body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    width: 100%;
    background-size: cover;
}

.selection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    width: min(100%, 1200px);
    flex-grow: 1;
    padding: 20px;
}

.card {
    flex: 1;
    width: auto;
    height: auto;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
    background-color: #f9f9f9;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    border-color: #ff0000;
}

.card {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 600px; 
    object-fit: cover;   
    object-position: center; 
}

footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.ckr-voltas {
    padding: 30px 70px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #94007e;
    color: #1aff1a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.ckr-voltas:hover {
    background-color: #d40732;
    transform: translateY(-8px);
}
